<!doctype html>
<html lang="uk">
  <head>
    <meta charset="UTF-8" />
    <title>Налаштування програми</title>
    <link rel="stylesheet" href="./style/style.css" />
  </head>

  <body>
    <header>
        <div class="butt_auth-container mb">
          <button class="butt_auth" onclick="window.location.href = 'home.html'">Назад</button>
        </div>
      </header>

    <h1>Налаштування</h1>

    <div class="forms">
      <button class="button_submit"  type="submit" onclick="window.location.href='edit_colors.html'">змінити коліра</button>
      <button class="button_submit"  type="submit" onclick="window.location.href='edit_firestore.html'">firestore</button>
      <button class="button_submit"  type="submit" onclick="window.location.href='edit_logo.html'">змінити лого</button>
      <button class="button_submit"  type="submit" onclick="window.location.href='edit_contact_us.html'">contact us</button>
    </div>
  </body>
</html>