<!doctype html>
<html lang="uk">
  <head>
    <meta charset="UTF-8" />
    <title>Зміна логотипа</title>
    <link rel="stylesheet" href="./style/style.css" />
  </head>
  <body>
    <div class="butt_auth-container mb">
      <button class="butt_auth" onclick="window.location.href = 'change_setting.html'">Назад</button>
    </div>
    <h1>Зміна логотипа</h1>

    <div class="logo">
    <div class="input_init">
      <label for="logo">Логотип:</label>
      <input  class="input_init_fild" type="file" id="logo" name="logo" accept="image/*" />
    </div>
      <button class="button_submit" type="submit" onclick="editLogo()">Зберегти</button>
    </div>

    <script src="./js/color.js"></script>
  </body>
</html>
