<!doctype html>
<html lang="uk">
  <head>
    <meta charset="UTF-8" />
    <title>Налаштування програми</title>
    <link rel="stylesheet" href="./style/style.css" />
  </head>
  <body>
    <div class="butt_auth-container mb">
      <button class="butt_auth" onclick="window.location.href = 'change_setting.html'">Назад</button>
    </div>
    <h1>Налаштування кольорів</h1>

    <form id="edit-colors-form" class="forms">
    <div class="input_init">
      <label for="login">Перший колір:</label>
      <input class="input_init_fild" type="text" id="primaryColor" name="primaryColor" required />
    </div>
    <div class="input_init">
      <label for="logo">Другий колір:</label>
      <input  class="input_init_fild" type="text" id="secondColor" name="secondColor" accept="image/*" />
    </div>
    <div class="input_init">
      <label for="repoUrl">Третій колір:</label>
      <input class="input_init_fild" type="text" id="accentColor" name="accentColor" required />
    </div> 
      <button class="button_submit" type="submit" onclick="edit_color()">Зберегти</button>
    </form>

    <script src="./js/color.js"></script>
  </body>
</html>
