<!doctype html>
<html lang="uk">
  <head>
    <meta charset="UTF-8" />
    <title>Додавання учасника</title>
    <link rel="stylesheet" href="./style/style.css" />
  </head>
  <body>
    <header>
      <div class="butt_auth-container mb">
        <button
          class="butt_auth"
          onclick="window.location.href = 'member_table.html'"
        >
          Назад
        </button>
      </div>
    </header>
    <h1>Редагування учасника</h1>

    <form id="editmember-form">
      <div class="input_init">
        <label for="name">Ім'я:</label>
        <input class="input_init_fild" type="text" id="name" name="v" required />
      </div>
      <div class="input_init">
        <label for="surname">Прізвище:</label>
        <input
          class="input_init_fild"
          type="text"
          id="surname"
          name="surname"
          accept="image/*"
        />
      </div>
      <div class="input_init">
        <label for="last">По батькові:</label>
        <input class="input_init_fild" type="text" id="last" name="last" required />
      </div>
      <div class="input_init">
        <label for="themes">Наукові теми:</label>
        <input
          class="input_init_fild"
          type="text"
          id="themes"
          name="themes"
          required
        />
      </div>
      <div class="input_init">
        <label for="email">Пошта:</label>
        <input
          class="input_init_fild"
          type="email"
          id="email"
          name="email"
          required
        />
      </div>
      <button class="button_submit" onclick="editMember()">Зберегти</button>
    </form>

    <script src="./js/members.js"></script>
  </body>
</html>
