<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style/style.css" />
    <title>Edit Contact Us</title>
</head>
<body>
    <div class="butt_auth-container mb">
        <button class="butt_auth" onclick="window.location.href = 'change_setting.html'">Назад</button>
      </div>
    <h1>Edit Contact Us</h1>
    <div class="forms">
        <div id="contact-methods"></div>
        <button type="button" onclick="addContactMethod()">Add Contact Method</button>
        <button type="submit" onclick="editFooter()">Save</button>
    </div>

    <script src = "./js/footer.js"></script>
   
</body>
</html>