<!doctype html>
<html lang="uk">
  <head>
    <meta charset="UTF-8" />
    <title>Налаштування програми</title>
    <link rel="stylesheet" href="./style/style.css" />
  </head>

  <body>


    <h1>Добро пожалувати</h1>

    <form id="settings-form">
      <button
        class="button_submit"
        type="submit"
        onclick="window.location.href='add_news.html'"
      >
        добавити новину
      </button>
      <button
        class="button_submit"
        type="submit"
        onclick="window.location.href='add_member.html'"
      >
        добавити учасника
      </button>
      <button
        class="button_submit"
        type="submit"
        onclick="window.location.href='add_meet.html'"
      >
        добавити засідання
      </button>
      <button
        class="button_submit"
        type="submit"
        onclick="window.location.href='member_table.html'"
      >
        учасники
      </button>
      <button
        class="button_submit"
        type="submit"
        onclick="window.location.href='news_table.html'"
      >
        новини
      </button>
      <button
        class="button_submit"
        type="submit"
        onclick="window.location.href='meets_table.html'"
      >
        засідання
      </button>
      <button
        class="button_submit"
        type="submit"
        onclick="window.location.href='change_setting.html'"
      >
        налаштування
      </button>
      <button
        class="button_submit"
        type="submit"
        onclick="window.location.href='pages.html'"
      >
        сторінки
      </button>
      <button
      class="button_submit"
      type="submit"
      onclick="exit()"
    >
      Вийти повністю
    </button>
    </form>
    <script src="./js/render.js"></script>
  </body>
  
</html>
