<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Members Data</title>
    <link rel="stylesheet" href="./style/style.css" />
</head>
<body>
    <header>
        <div class="butt_auth-container mb">
          <button class="butt_auth" onclick="window.location.href = 'home.html'">Назад</button>
        </div>
      </header>
      <input type="text" id="filterInput" placeholder="Фільтр" onkeyup="filterTable()">
    <div class="table-container">
        <h3 class="table_header">Новини</h3>
    <table>
        <thead>
            <tr>
                <th>Заголовок</th>
                <th>Текст</th>
                <th>Дата</th>>
                <th>Редагувати</th>
                <th>Видалити</th>
            </tr>
        </thead>
        <tbody id="members-table">
          
        </tbody>
    </table>
</div>
    <script src = "./js/news.js"> </script>
    <script>
        function filterTable() {
            var input, filter, table, tr, td, i, j, txtValue;
            input = document.getElementById("filterInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("members-table");
            tr = table.getElementsByTagName("tr");

            for (i = 0; i < tr.length; i++) {
                let flag =true
                tr[i].style.display = "";
                for (j = 0; j < tr[i].cells.length; j++) {
                    td = tr[i].cells[j];
                    if (td) {
                        txtValue = td.textContent || td.innerText;
                        if (txtValue.toUpperCase().indexOf(filter) > -1) {
                            flag = false
                            console.log("flag true")
                            continue;
                        }
                    }      
                }
                if(flag === true){
                    tr[i].style.display = "none";
                }
                
            }
        }
    </script>
</body>
</html>